@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: #3e52a3; 
}
html, body{
    height: 100%;
}
body{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #505163;
    margin: auto;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fafafa;
}

h1, h2{
    font-size: 30px;
    margin: 0;
    padding: 0;
    font-weight: 900;
    
}

h1{
    font-weight: 100;
    
}
p.title{
    max-width: 500px;
}

main{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
}

main div.box{
    box-shadow: 0px 10px 15px #4c4e613b;
    height: 240px;
    width: 320px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 5px;
    background: white;
    padding: 10px 30px 20px 30px;
}

div.box img.image{
    width: 70px;
    align-self: flex-end;
    margin-top: 30px;
}

main div.box h3{
    margin-bottom: 10px;
}

div.red{
    border-top: 5px solid #ea5353;
}

div.cyan{
    border-top: 5px solid #45d3d3;
}

div.orange{
    border-top: 5px solid #fcaf4a;
}

div.blue{
    border-top: 5px solid  #549ef2;
}

@media(max-width: 1300px){
    main{
        flex-direction: column;
    }
    html, body{
        height: auto;
        padding-top: 20px;
    }
    p.title{
        max-width: 300px;
    }
}
